@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    background-image:url(./img/background-img.webp) ;
    background-size: 50%;
}
.title{
    text-align: center;
    font-family: Barrio;
    font-size: 70px;
    color: rgb(122, 180, 122);
}
main{
    width: 200px;
    display: flex;
}
.myPhoto{
    border-radius: 85px;
    background-color: rgb(92, 180, 136);
    margin-left: 260px;
    max-block-size: 300px;
}
.wrapper{
    display: inline-block;
}
.textWindow{
    margin-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 0 0;
    background-image: url(img/window.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 500px;
    transform: translateY(-170px);
}
.text-W{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    margin-right: -px;
    color: rgb(255, 161, 84);
    margin-left: 65px;
    font-size: 25px;
    rotate:10deg;
}
article{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.card-img-top{
    width: 150px;
    height: 225px;
}
.aM{
    display: flex;
}
.mTitle{
    margin-top: 30px;
    position: absolute;
    left: 200px;
    font-size: 75px;
    font-family: "WDXL Lubrifont TC", sans-serif;
    color: rgb(144, 158, 160);
}
.allM{
    margin: 120px;
    position: absolute;
    width: 1700px;
    height: 400px;
    background: linear-gradient(to top right, rgb(148, 176, 206), rgb(153, 210, 243));
    border-radius: 25px;
}
.meHat{
    width: 200px;
    margin: 25px;
    border: 5px rgb(111, 168, 156) solid;
    border-radius: 2.5px;
}
.mainT{
    width: 900px;
    background-color: rgb(115, 176, 230);
    font-family: "Oswald", sans-serif;
    top: 87px;
    left: 250px;
    position: absolute;
}
.defT{
    background-color: rgb(115, 176, 230);
    font-family: "Oswald", sans-serif;
    margin-left: 25px;
    margin-right: 25px;
}
.horse{
    position: absolute;
    top: 88px;
    right: 130px;
    height: 200px;
    width:380px;
}
footer{
    
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -800px;
    width: 100%;
    
}
a{
    color: bisque;
    font-size: 60px;
}
